@charset "UTF-8";
/* CSS Document */

body{
	background-color: white;
}

h1 {
	text-align: center;
}

img {
	width: 100%;
	max-width: 200px;
}

button {
	position: relative;
	margin: 1em;
	padding: 1em;
	width: 200px;
	background: #020058;
	cursor: pointer;
	color: white;
	border: 1px solid white;
	border-radius: 15px;
	
	
}